/* ===== Layout ===== */
.page-content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 var(--content-padding);
}

.page-header {
  padding: var(--content-padding) 0 calc(2 * var(--content-padding));
  text-align: center;
}

.page-content {
  padding-bottom: calc(2 * var(--content-padding));
  width: 100%;
  max-width: 45em;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.s-homepage .page-content {
  justify-content: center;
  padding-bottom: 0;
}

.page-footer {
  padding: calc(2 * var(--content-padding)) 0 var(--content-padding);
  text-align: center;
}

.page-footer__links {
  margin-bottom: calc(6 * var(--base-link-unit));
}

.page-footer-nav {
  text-align: center;
  font-size: 0.75em;
}

.page-footer-line {
  line-height: 1.5em;
  padding: 0.25em;
}

@media screen and (min-width: 1024px) {
  .page-header,
  .page-footer {
    opacity: 0.2;
    transition: opacity 500ms ease;
  }

  .page-header:hover,
  .page-footer:hover,
  .s-homepage .page-header,
  .s-homepage .page-footer {
    opacity: 1;
  }
}

/* ===== Components ===== */
.circle-links {
  text-align: center;
  color: var(--orange);
}

.circle-links__a {
  position: relative;
  display: inline-block;
  margin: 0 var(--base-link-unit);
  background-color: var(--offwhite);
  border: 2px solid var(--orange);
  border-radius: 50%;
  transition: all var(--transition-duration);
  padding: calc(2 * var(--base-link-unit)) calc(1.5 * var(--base-link-unit));
  text-decoration: none;
  font-family: var(--sans-serif);
}

.circle-links__a:first-child {
  margin-left: 0;
}

.circle-links__a:last-child {
  margin-right: 0;
}

.circle-links__a .fa {
  font-size: calc(3 * var(--base-link-unit));
}

.circle-links__a:link,
.circle-links__a:active,
.circle-links__a:visited,
.circle-links__a:hover {
  color: inherit;
  text-decoration: none;
}

.circle-links__a:hover,
.circle-links__a:focus {
  background-color: var(--orange);
  color: var(--offwhite);
}

@media screen and (min-width: 1024px) {
  .circle-links__a:hover .circle-links__p,
  .circle-links__a:focus .circle-links__p {
    opacity: 1;
  }
}

.circle-links__p {
  display: none;
}

@media screen and (min-width: 1024px) {
  .circle-links__p {
    display: block;
    color: var(--orange);
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: calc(-4 * var(--base-link-unit));
    text-align: center;
    transition: opacity var(--transition-duration);
    font-size: 0.8em;
  }
}

/* ===== Homepage ===== */
.c-home-content {
  text-align: center;
  padding-top: 1.5em;
}

.c-home-logo {
  width: 75px;
  padding-bottom: 1em;
}

.c-home-description {
  padding: 1em;
  line-height: 1.5em;
}

.c-home-description-dash {
  display: inline;
}

@media all and (min-width: 500px) {
  .c-home-description-dash {
    display: none;
  }
}

.c-home-description-break {
  display: none;
}

@media all and (min-width: 500px) {
  .c-home-description-break {
    display: block;
  }
}

/* PostList */

.c-posts__list {
  list-style: none;
  padding-bottom: var(--content-padding);
}

.c-posts__item {
  padding-bottom: var(--content-padding);
}

.c-posts__title {
  margin-bottom: 0.25em;
}

.c-posts__title--draft:before {
  content: '[DRAFT] ';
  color: red;
}

.c-posts__excerpt {
  padding-bottom: 1em;
  line-height: 1.5em;
}

.c-posts__meta {
  text-align: right;
}

/* PostMeta */
.post-meta {
  line-height: 1.5em;
  font-style: italic;
}

@media (min-width: 768px) {
  .post-meta {
    line-height: 1em;
  }
}

.post-meta__divider1,
.post-meta__divider2 {
  padding: 0 5px;
}

.post-meta__divider2 {
  display: none;
}
@media (min-width: 768px) {
  .post-meta__divider2 {
    display: inline;
  }
}

@media (min-width: 768px) {
  .post-meta__br {
    display: none;
  }
}

.post-meta__link:not(:last-child):after {
  content: ', ';
}

/* Post */
.c-post__title {
  margin-bottom: 10px;
}

.c-post__meta {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: var(--content-padding);
}

.c-post__date {
  font-style: italics;
}

.c-post__content {
  font-size: 1.15em;
  line-height: 1.75em;
}

.c-post__share {
  text-align: right;
  margin-bottom: var(--content-padding);
}

.c-post__share-lead-in {
  padding-bottom: calc(var(--content-padding) / 3);
}

.c-post__share-medium .fa {
  padding: 5px;
  border-radius: 50%;
  transition: color var(--transition-duration),
    background-color var(--transition-duration);
}

.c-post__share-medium .fa:hover,
.c-post__share-medium .fa:focus {
  color: var(--white);
  background-color: var(--orange);
}

/* u-post-styles */
.u-post-styles h1,
.u-post-styles h2,
.u-post-styles h3,
.u-post-styles h4,
.u-post-styles h5,
.u-post-styles h6 {
  position: relative;
}

.u-post-styles h1 a[href],
.u-post-styles h2 a[href],
.u-post-styles h3 a[href],
.u-post-styles h4 a[href],
.u-post-styles h5 a[href],
.u-post-styles h6 a[href] {
  position: absolute;
  top: 0;
  left: -1.5rem;
  padding-right: 0.5rem;
  opacity: 0;
  text-decoration: none;
  transition: opacity 200ms;
}

.u-post-styles h1 a[href]:hover,
.u-post-styles h1 a[href]:focus,
.u-post-styles h2 a[href]:hover,
.u-post-styles h2 a[href]:focus,
.u-post-styles h3 a[href]:hover,
.u-post-styles h3 a[href]:focus,
.u-post-styles h4 a[href]:hover,
.u-post-styles h4 a[href]:focus,
.u-post-styles h5 a[href]:hover,
.u-post-styles h5 a[href]:focus,
.u-post-styles h6 a[href]:hover,
.u-post-styles h6 a[href]:focus {
  opacity: 1;
}

.u-post-styles h1:hover a,
.u-post-styles h1:focus a,
.u-post-styles h2:hover a,
.u-post-styles h2:focus a,
.u-post-styles h3:hover a,
.u-post-styles h3:focus a,
.u-post-styles h4:hover a,
.u-post-styles h4:focus a,
.u-post-styles h5:hover a,
.u-post-styles h5:focus a,
.u-post-styles h6:hover a,
.u-post-styles h6:focus a {
  opacity: 1;
}

.u-post-styles p {
  font-size: 0.9em;
  line-height: 1.5em;
  padding-bottom: var(--content-padding);
}

@media screen and (min-width: 768px) {
  .u-post-styles p {
    font-size: 1em;
  }
}

.u-post-styles img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.u-post-styles li {
  font-size: 0.9em;
  line-height: 1.5em;
}

.u-post-styles strong {
  font-weight: bold;
}

.u-post-styles em {
  font-style: italic;
}

.u-post-styles pre {
  margin: 0;
  padding: 0.5rem;
  font-size: 0.9rem;
  background: #fafafa;
}

@media screen and (min-width: 768px) {
  .u-post-styles pre {
    margin-left: var(--content-padding);
    margin-right: var(--content-padding);
  }
}

/* Inline monospaced <code> words only */
.u-post-styles code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 0 3px;
  font-size: 0.9em;
  background-color: #f8f8f8; /* Specific for accessibility */
  box-shadow: inset black 0px 0px 4px -2px;
  border-radius: 5px;
}

.u-post-styles pre {
  margin-bottom: var(--content-padding);
  line-height: 1.25rem;
  border: 1px solid var(--grey);
}

.u-post-styles pre code {
  width: 100%;
  overflow-x: auto;
  padding: 0;
  font-size: inherit;
  background-color: inherit;
  box-shadow: none;
  border-radius: 0;
}

.u-post-styles blockquote {
  padding: 1em;
  background-color: var(--lightgrey);
  margin: 0 0 var(--content-padding);
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .u-post-styles blockquote {
    margin-left: var(--content-padding);
    margin-right: var(--content-padding);
  }
}

.u-post-styles ol,
.u-post-styles ul {
  list-style-type: disc;
  margin-left: 40px;
  padding-bottom: var(--content-padding);
}

.u-post-styles p:last-child {
  padding-bottom: 0;
}

.u-post-styles ol,
.u-post-styles ul {
  margin-left: 40px;
  margin-bottom: 2em;
}
.u-post-styles ol ol,
.u-post-styles ul ul,
.u-post-styles ol ul,
.u-post-styles ul ol {
  margin-left: 20px;
  margin-bottom: 0;
}

/* PostNav */
.c-post-nav {
  display: flex;
}

.c-post-nav__link {
  flex-grow: 1;
}
.c-post-nav__link--previous {
  padding-right: 10px;
  text-align: left;
}

.c-post-nav__link--next {
  padding-left: 10px;
  text-align: right;
}

.c-post-nav__link-arrow:hover {
  text-decoration: none;
}

/* Tag page */
.tag__title {
  margin-bottom: 2em;
  font-size: 1.5em;
  text-align: center;
}

.tag__tag {
  color: var(--orange);
}
