{
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script",
        "ecmaFeatures": {}
    },

    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },

    "globals": {
        "inject": true,
        "angular": true,
        "process": true
    },

    "rules": {
        "block-scoped-var": "error",
        "complexity": "error",
        "comma-dangle": ["error", "never"],
        "consistent-return": "warn",
        "curly": "error",
        "default-case": "error",
        "dot-notation": "error",
        "eqeqeq": ["error", "allow-null"],
        "guard-for-in": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-trailing-spaces": "error",
        "no-div-regex": "error",
        "no-dupe-keys": "error",
        "no-else-return": "error",
        "no-eq-null": 0,
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-parens": ["error", "functions"],
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-implied-eval": "error",
        "no-irregular-whitespace": "error",
        "no-labels": "error",
        "no-iterator": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-octal": "error",
        "no-octal-escape": "error",
        "no-proto": "error",
        "no-redeclare": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-use-before-define": ["error", "nofunc"],
        "no-unused-expressions": "error",
        "no-unused-vars": ["error", {
            "vars": "all",
            "args": "after-used",
            "argsIgnorePattern": "^(\\$log)"
        }],
        "no-unreachable": "error",
        "no-void": "error",
        "no-warning-comments": "error",
        "no-with": "error",
        "radix": "error",
        "vars-on-top": "error",
        "wrap-iife": ["error", "inside"],
        "yoda": "error",
        "quotes": ["error", "single"],
        "eol-last": ["error"],
        "strict": ["error", "global"],
        "camelcase": 0,
        "consistent-this": ["error", "self"],
        "new-cap": 0,
        "new-parens": "error",
        "func-style": ["error", "declaration"],
        "no-lonely-if": "error",
        "no-new-object": "error",
        "brace-style": ["error", "1tbs"],
        "semi-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "keyword-spacing": ["error", {
            "before": true,
            "after": true
        }],
        "space-before-blocks": ["error", "always"],
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never"
        }],
        //"space-in-brackets": ["error", "always", {
        //  "singleValue": false,
        //  "objectsInArrays": true,
        //  "arraysInArrays": true,
        //  "arraysInObjects": true,
        //  "objectsInObjects": true,
        //  "propertyName": false
        //}],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "indent": ["warn", 4],
        "no-mixed-spaces-and-tabs": "error",
        "use-isnan": "error",
        "valid-jsdoc": ["error", {
            "prefer": {
                "return": "returns"
            }
        }],
        "max-nested-callbacks": ["error", 3],
        "semi": ["error", "always"],
        "one-var": "error",
        "no-mixed-requires": [0, false],
        "no-underscore-dangle": 0
    }
}
