{
    extends: [
        'airbnb-base',
        'plugin:vue/recommended'
    ],
    rules: {
        'func-names': [ 'error', 'as-needed' ],
        'indent': [ 'error', 4 ],
        'one-var': 'off',
        'no-param-reassign': 'off',
        'no-plusplus': 'off'
    }
}
