{
    extends: [
        'airbnb-base',
        'plugin:vue/recommended'
    ],
    rules: {
        'func-names': [ 'error', 'as-needed' ],
        'indent': [ 'error', 4 ],
        'one-var': 'off',
        'no-param-reassign': 'off',
        'no-plusplus': 'off',
        'no-console': 'off',
        "vue/html-indent": [ 'error', 4 ],
        "vue/max-attributes-per-line": [ 'error', {
            singleline: 3,
            multiline: {
                max: 1,
                allowFirstLine: true,
            },
        } ],
    }
}
