@mixin clearfix() {
    // See: http://nicolasgallagher.com/micro-clearfix-hack/
    /**
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    contenteditable attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that are clearfixed.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }

    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    & {
        *zoom: 1;
    }
}

@mixin post-styles() {
    h1, h2, h3, h4, h5, h6 {
        position: relative;

        a[href] {
            position: absolute;
            top: 0;
            left: -1.5rem;
            padding-right: 0.5rem;
            opacity: 0.0;
            text-decoration: none;
            transition: opacity 200ms;

            &:hover, &:focus {
                opacity: 1;
            }
        }

        &:hover, &:focus {
            a {
                opacity: 1;
            }
        }
    }

    p {
        font-size: 0.9em;
        line-height: 1.5em;
        padding-bottom: $content-padding;

        @media screen and (min-width: $medium-min) {
            font-size: 1em;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    li {
        font-size: 0.9em;
        line-height: 1.5em;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    pre {
        margin: 0;
        font-size: 0.9rem;

        @media screen and (min-width: $medium-min) {
            margin-left: $content-padding;
            margin-right: $content-padding;
        }
    }

    blockquote {
        padding: 1em;
        background-color: $lightgrey;
        margin: 0 0 $content-padding;
        font-style: italic;

        @media screen and (min-width: $medium-min) {
            margin-left: $content-padding;
            margin-right: $content-padding;
        }

        ol,
        ul {
            margin-left: 40px;
            padding-bottom: $content-padding;
        }

        p:last-child {
            padding-bottom: 0;
        }
    }

    ol,
    ul {
        margin-left: 40px;
        margin-bottom: 2em;

        ol,
        ul {
            margin-left: 20px;
            margin-bottom: 0;
        }
    }
}
