.s-footer-links {

    &.page-links__ul {
        padding-bottom: $content-padding;
    }

    .page-link__li {
        margin: 4 * $base-link-unit;

        @media screen and (min-width: $small-min) {
            margin: 2 * $base-link-unit;
        }
    }
}
