.page-links__ul {
    text-align: center;
    color: $orange;
}

.page-link__li {
    display: inline-block;
    margin: 1em;

    &:hover {

    }

    @media screen and (min-width: $large-min) {
        position: relative;
    }
}

.page-link__a {
    background-color: $offwhite;
    border: 2px solid $orange;
    border-radius: 50%;
    transition: all $transition-duration;
    padding: (2.5 * $base-link-unit) (1.4 * $base-link-unit) (2 * $base-link-unit);
    text-decoration: none;
    font-family: $sans-serif;

    .icon {
        font-size: 3 * $base-link-unit;
    }

    &:link,
    &:active,
    &:visited,
    &:hover {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        background-color: $orange;
        color: $offwhite;

        @media screen and (min-width: $large-min) {
            .page-link__p {
                opacity: 1;
            }
        }
    }
}

.page-link__p {
    display: none;

    @media screen and (min-width: $large-min) {
        display: block;
        color: $orange;
        opacity: 0;
        position: absolute;
        bottom: 0;
        width: 150%;
        margin-bottom: -(6 * $base-link-unit);
        margin-left: -25%;
        text-align: center;
        left: 0;
        right: 0;
        transition: opacity $transition-duration;
        font-size: 0.8em;
    }
}

.page-aside {
    background-position: 50% 50%;
    background-size: cover;

    @media screen and (max-width: $medium-max) {
        height: 150px;
    }

    @media screen and (min-width: $large-min) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: $lhs-aside-width;
    }
}

.page-aside-inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 30px 30px;
    color: $white;
}

.page-aside-inner__h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.page-aside-inner__h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.page-content-wrapper {
    position: relative;
    padding: $content-padding;

    @media screen and (min-width: $large-min) {
        padding: $content-padding 0;
        // @todo This is messy!!
        margin-left: calc(#{$lhs-aside-width} + #{$content-padding});
        width: calc(100% - #{$lhs-aside-width} - #{2 * $content-padding});
        min-height: 100vh;
    }
}

.page-content {
    max-width: 768px;
    margin: auto;
    padding-bottom: $content-padding;
}

.page-header {
    position: absolute;
    top: -($top-aside-height / 2);
    left: 0;
    right: 0;
    padding-bottom: $content-padding;
    text-align: center;

    @media screen and (min-width: $large-min) {
        position: relative;
        top: 0;
    }
}

.page-footer {
    text-align: center;
    font-size: 0.75em;
}

.page-footer-line {
    line-height: 1.5em;
    padding: 0.5em;
}
