.c-posts {

    &__list {
        list-style: none;
        padding-bottom: $content-padding;
    }

    &__item {
        padding-bottom: $content-padding;
    }

    &__title {
        margin-bottom: 0.25em;
    }

    &__excerpt {
        @include code-styles;
        padding-bottom: 1em;
        line-height: 1.5em;
    }

    &__meta {
        font-size: 0.75em;
    }

}
