.c-post__title {
    margin-bottom: 0;
}

.c-post__meta {
    font-size: 0.8em;
    margin-bottom: $content-padding;
}

.c-post__date {
    font-style: italics;
}

.c-post__tags {

}

.c-post__content {
    line-height: 1.5em;

    p {
        padding-bottom: $content-padding;
    }

}

