// Breakpoints
$extra-small-min: 0;
$extra-small-max: 499px;
$small-min: 500px;
$small-max: 767px;
$medium-min: 768px;
$medium-max: 1023px;
$large-min: 1024px;

// Sizing
$lhs-aside-width: 30%;
$max-lhs-aside-width: 450px;
$top-aside-height: 150px;
$content-padding: 2em;

// Transitions
$transition-duration: 200ms;

// Colors
$white: white;
$offwhite: #fafafa;
$offblack: #181818;
$dark-grey: #ccc;
$grey: grey;
$lightgrey: lightgrey;
$orange: #cf8a05;

// Fonts
$serif: 'Rokkitt', serif;
$serif-content: 'PT Serif', serif;
$sans-serif: 'Lato', helvetica, arial, sans-serif;

// Misc
$base-link-unit: 0.5em;
