@import "reset";
@import "../../node_modules/foundation-sites/scss/foundation";

// http://demo.onedesigns.com/graceunderpressure/journal/

// Variables
// Breakpoints
$small-max: 767px;
$medium-min: 768px;
$medium-max: 1023px;
$large-min: 1024px;

// Sizing
$lhs-aside-width: 30%;
$content-padding: 2em;

// Transitions
$transition-duration: 200ms;

// Colors
$white: white;
$offwhite: #fafafa;
$offblack: #181818;
$grey: grey;
$lightgrey: lightgrey;
$orange: #cf8a05;

// Fonts
$serif: 'Rokkitt', serif;
$sans-serif: 'Lato', helvetica, arial, sans-serif;

// Global Styles
* {
  box-sizing: border-box;
}

body {
  font-family: $sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5 h6 {
  font-family: $serif;
}

h1 {
  font-size: 3em;
  margin: .67em 0
}

h2 {
  font-size: 2.25em;
  margin: .75em 0
}

h3 {
  font-size: 1.5em;
  margin: .83em 0;
}

h4 {
  font-size: 1em;
  margin: 1em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}


pre {
  font-family: monospace;
  overflow-y: hidden;
  overflow-x: auto;
}

a {
  color: $orange;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@import "./resume";

.c-content-centered-outer {
  width: 100%;
  min-height: 100vh;
  background: $offblack;
  padding: 1em 0;
}

.c-content-centered {
  background: $offwhite;
  width: 98%;
  padding: 0.5em;
  margin: 0 1%;

  @media all and (min-width: $medium-min) {
    width: 94%;
    padding: 1%;
    margin: 0 3%;
  }

  @media all and (min-width: $large-min) {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.c-home-content {
  padding-top: 5em;
  text-align: center;
}

.c-home-logo {
  width: 75px;
  padding-bottom: 1em;
}

.c-home-title {
}

.c-home-description {
  padding: 1em;
}

.c-home-footer {
  padding: 0.5em;
}

.page-links__ul {
  text-align: center;
  color: $orange;
  padding-bottom: 2em;
}

.page-link__li {
  display: inline-block;
  margin: 1em;

  &:hover {

  }

  @media screen and (min-width: $large-min) {
    position: relative;
  }
}

$base-unit: 0.5em;
.page-link__a {

  background-color: $offwhite;
  border: 2px solid $orange;
  border-radius: 50%;
  transition: all $transition-duration;

  font-size: 3 * $base-unit;
  padding: 1 * $base-unit;
  width: 4 * $base-unit;
  text-decoration: none;

  &:link, &:active, &:visited, &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background-color: $orange;
    color: $offwhite;

    @media screen and (min-width: $large-min) {
      &+ .page-link__p {
        opacity: 1;
      }
    }
  }
}

.page-link__p {
  display: none;

  @media screen and (min-width: $large-min) {
    display: block;
    color: $orange;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 150%;
    margin-bottom: -(5 * $base-unit);
    margin-left: -25%;
    text-align: center;
    left: 0;
    right: 0;
    transition: opacity $transition-duration;
    font-size: 0.8em;
  }
}

.page-aside {
  background-image: url(/assets/images/asides/bikes.jpg);
  background-position: 50% 50%;
  background-size: cover;

  @media screen and (max-width: $medium-max) {
    height: 150px;
  }

  @media screen and (min-width: $large-min) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $lhs-aside-width;
  }

}

.page-aside-inner {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 30px 30px;
  color: $white;
}

.page-aside-inner__h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.page-aside-inner__h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.page-content {
  position: relative;
  padding: $content-padding;

  @media screen and (min-width: $large-min) {
    padding: $content-padding 0;
    // @todo This is messy!!
    margin-left: calc(#{$lhs-aside-width} + #{$content-padding});
    width: calc(100% - #{$lhs-aside-width} - #{2 * $content-padding});
    min-height: 100vh;
  }
}

.page-header {
  position: fixed;
  top: 0;
  width: 100%;

  @media screen and (min-width: $large-min) {
    position: relative;
  }
}

.page-footer {
  font-size: 0.75em;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 2em;

  @media screen and (min-width: $large-min) {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 0;
  }
}



.article-title {
  margin-bottom: 0;
}

.article-subtitle {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

.article-date {
  font-style: italics;
}

.article-tags {

}

.article-content {

}


