@mixin clearfix() {
    // See: http://nicolasgallagher.com/micro-clearfix-hack/
    /**
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    contenteditable attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that are clearfixed.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }

    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    & {
        *zoom: 1;
    }
}

@mixin post-styles() {
    p {
        font-size: 0.9em;
        line-height: 1.5em;
        padding-bottom: $content-padding;

        @media screen and (min-width: $medium-min) {
            font-size: 1em;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    code {
        padding: 0 3px;
        font-family: monospace;
        background-color: $lightgrey;
    }

    // Only large sections of code, not inline <code> tags
    pre {
        padding-bottom: $content-padding;
        margin: 0;

        @media screen and (min-width: $medium-min) {
            margin-left: $content-padding;
            margin-right: $content-padding;
        }

        code {
            padding: 1em;
            font-size: 0.9em;
            line-height: 1.25em;
        }
    }

    blockquote {
        padding: 1em;
        background-color: $lightgrey;
        margin: 0 0 $content-padding;
        font-style: italic;

        @media screen and (min-width: $medium-min) {
            margin-left: $content-padding;
            margin-right: $content-padding;
        }

        ol,
        ul {
            margin-left: 40px;
            padding-bottom: $content-padding;
        }

        p:last-child {
            padding-bottom: 0;
        }
    }

    ol,
    ul {
        margin-left: 40px;
        margin-bottom: 2em;
    }
}
