* {
    box-sizing: border-box;
}

body {
    font-family: $serif-content;
    font-size: 100%;
    color: $offblack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $serif;
}

h1 {
    font-size: 1.5rem;
    margin: 0.67rem 0;

    @media all and (min-width: $medium-min) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.25rem;
    margin: 0.75rem 0;

    @media all and (min-width: $medium-min) {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: 1rem;
    margin: 0.83rem 0;

    @media all and (min-width: $medium-min) {
        font-size: 1.5rem;
    }
}

h4 {
    font-size: 0.83rem;
    margin: 1rem 0;

    @media all and (min-width: $medium-min) {
        font-size: 1.25rem;
    }
}

h5 {
    font-size: 0.6rem;
    margin: 1.5rem 0;

    @media all and (min-width: $medium-min) {
        font-size: 1rem;
    }
}

h6 {
    font-size: 0.5rem;
    margin: 1.67rem 0;

    @media all and (min-width: $medium-min) {
        font-size: 0.75rem;
    }
}

pre {
    font-family: monospace;
    overflow-y: hidden;
    overflow-x: auto;
}

a {
    color: $orange;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
